<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.air_sunny.blue"
    android:versionCode="1"
    android:versionName="1.0">

    <!--手机振动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--手机蓝牙权限-->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 向SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--http请求权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--下面这些事使用到缓存的时候需要用的-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DeviceScanActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".LocateActivity" />
        <activity android:name=".MoreActivity" />
        <activity android:name=".AboutActivity" />

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
